body {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-weight: 700;
    font-size: 3em;
    text-align: left; 
    line-height: 100%;
}


header {
    margin-left: 2%;
    position: fixed;
    width: 100%;
    top: 0px;
}

header h2 {
    margin-left: 3%;
}

div { 
    margin: 1rem;
    -ms-flex: 1 0 0px;
    flex: 1; 
}

.description {
    width: 30%;
    top: 19%;
    position: fixed;
}

.boxes {
    margin-top: 25%;
    display: flex;
    width: 75%;
    right: 0px;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-flow: row wrap;
    float: right;
}

.tempbox {
    width: 200px;
    height: 100px;
    background-color: #C0C1C2;
    z-index: -1;
}

.tempbox2 {
    width: 200px;
    height: 200px;
    background-color: #C0C1C2;
    z-index: -1;
}

@media print {

}